<ion-header>

</ion-header>

<ion-content style='background-color:rgb(246, 246, 246)'>
  <div *ngIf="this.preferences[0] !== undefined">
    <div *ngIf="this.preferences[0].length > this.current">
      <ion-card style='margin-bottom:10%'>
        <img src="data:image/jpg;base64,{{this.preferences[0][this.current].picture}}" />
        <ion-card-content>
          <ion-card-title>
            <h1 style='font-size:5.5vw'>{{this.preferences[0][this.current].firstname}},
              {{this.preferences[0][this.current].age}}</h1>
          </ion-card-title>
          <div *ngIf="this.preferences[0][this.current].city !== ''">
            <p style='font-size:4vw'>
              <ion-icon name='home'></ion-icon> {{this.preferences[0][this.current].city}}
            </p>
          </div>
          <div *ngIf="this.preferences[0][this.current].city !== ''">
            <p style='font-size:4vw'>
              <ion-icon name='school'></ion-icon> {{this.preferences[0][this.current].school}}
            </p>
          </div>
        </ion-card-content>
      </ion-card>
      <div align='center'>
        <button ion-button (click)="dislike()" style='border-radius:100%;width:15vw;height:15vw;margin-right:30px'>
          <ion-icon style='font-size:8vw' name="md-close"></ion-icon>
        </button>
        <button ion-button (click)="like()" style='border-radius:100%;width:15vw;height:15vw' color="danger">
          <ion-icon style='font-size:8vw' name="heart"></ion-icon>
        </button>
      </div>
    </div>
    <div *ngIf="this.current >= this.preferences[0].length || this.preferences[0].length === 0"
        align='center' style='margin-top:25%'>
        <img src='assets/imgs/sad.png' height='75%' width='75%'>
        <p style='font-size:4.5vw'>No available matches for you right now</p>
      </div>
  </div>
  <div *ngIf="this.preferences[0] === undefined">
    <p style='font-size:4.5vw'>Wait for a moment</p>
  </div>

</ion-content>