<ion-header>

</ion-header>

<ion-content padding >
  <div align = 'center'>
  <div *ngIf = "this.userData.picture !== ''">
    <img src = "data:image/jpg;base64,{{this.myphoto}}" width = '50%' (click) = "setProfilepic()" height ='50%' style = 'border-radius:50%'>
  </div>
  <div *ngIf = "this.userData.picture == ''">
    <img src ="assets/imgs/default-{{this.userData.gender}}.png" (click) = "setProfilepic()" width ='50%' height = '50%' style ='border-radius:50%'>
  </div>  
  <button ion-button [disabled] = "isenabled" (click) ="updateProfilepic()">Update profile picture</button>
  <h1>{{this.userData.firstname}}, {{this.userData.age}}</h1>
  <p *ngIf = "this.userData.city != ''"><ion-icon name ='home'></ion-icon> {{this.userData.city}}</p>
  <p *ngIf = "this.userData.school != ''"><ion-icon name = 'school'></ion-icon> {{this.userData.school}}</p> 
  </div>
  <!-- Info -->
  <div>
    <ion-item></ion-item>
    <h5>About yourself</h5>
    <ion-input class ='input' [(ngModel)] ="this.userData.about" value = '{{this.userData.about}}'placeholder = 'Make it short :)'></ion-input>
    <button ion-button style ='margin-top:10px' (click) = "editabout()">Save</button>
    <ion-item></ion-item>
    <h5>Personal Info</h5>
    <ion-label>First name</ion-label>
    <ion-input placeholder ='Firstname' [(ngModel)] = "this.userData.firstname" value ='{{this.userData.firstname}}'></ion-input>
    <ion-label>Age</ion-label>
    <ion-input placeholder ='Age' [(ngModel)] = "this.userData.age" value ='{{this.userData.age}}' type= 'number'></ion-input>
    <ion-label>School</ion-label>
    <ion-input class ='input' [(ngModel)] ="this.userData.school" value = '{{this.userData.school}}'></ion-input>
    <ion-label>City</ion-label>
    <ion-input class = 'input' [(ngModel)] ="this.userData.city" value ='{{this.userData.city}}'></ion-input>
    <button ion-button style ='margin-top:10px' (click) = "editinfo()" block>Save changes</button>
    <button ion-button style ='margin-top:20px' color = 'danger' block (click) ="logout()">Sign out</button>
  </div>


</ion-content>
