<!--
  Generated template for the TosAndPolicyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{this.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="privacyPolicy">
    <p style ='text-align:justify'>
      Welcome to UlikE&#39;s Privacy Policy. This portrays how we gather, store, offer and utilize your data.
      <br/>
      <br/>
      <br/>
      Gastambide boys (&quot;us&quot;, &quot;we&quot;, or &quot;our&quot;) works the UlikE versatile application (the
      &quot;Administration&quot; and
      &quot;Application&quot;).
      <br/>
      <br/>
      <br/>
      The expressions &quot;You&quot; and &quot;Client&quot; will mean any registrant to the Service
      <br/>
      <br/>
      <br/>
      This page illuminates you regarding our approaches in regards to the gathering, use, and exposure of
      individual information when you utilize our Service and the decisions you have related with that
      information.
      <br/>
      <br/>
      <br/>
      We utilize your information to give and improve the Service in understanding to the Data Privacy Act of
      2012. By utilizing the Service, you consent to the accumulation and utilization of data as per this
      arrangement.
      <br/> 
      Except if generally characterized in this Privacy Policy, terms utilized in this Privacy Policy
      have indistinguishable implications from in our Terms and Conditions.
      <br/>
      <br/>
      <b>1. Consents</b>
      <br/>
      <br/>
      Android
      <br/>
      <br/>
      ACCESS_NETWORK_STATE – used to access organize data as per the succeeding consent.
      <br/>
      <br/>
      Web – used to associate with the Internet so as to get to the Service, just as to serve promotions.
      <br/>
      <br/>
      READ_EXTERNAL_STORAGE – used to transfer pictures from your gadget.
      <br/>
      <br/>
      WAKE_LOCK – used to keep the screen from resting during an advertisement.
      <br/>
      <br/>
      c2dm.permission.RECEIVE – used to push warnings from the cloud to the gadget.
      <br/>
      <br/>
      iOS
      <br/>
      <br/>
      The application requests that consent send message pop-ups. The application is allowed to get to the
      photograph library so as to transfer pictures from your gadget.
      <br/>
      <br/>
      <b>2. Gathering of Information</b>
      <br/>
      <br/>
      When you download the App and make a record, we gather the accompanying data from you:
      <br/>
      <br/>
      College email address
      <br/>
      <br/>
      Username
      <br/>
      <br/>
      Sex character
      <br/>
      <br/>
      Birthdate
      <br/>
      <br/>
      Sexual inclination
      <br/>
      <br/>
      Profile pictures
      <br/>
      <br/>
      College, and if relevant, unit or grounds
      <br/>
      <br/>
      You will likewise be required to make a secret word regarding the enrollment of your Account. When
      you register, you will almost certainly survey and change this data whenever by getting to your
      &quot;Profile&quot;
      page.
      <br/>
      <br/> You control your client profile and can address or refresh (other than your email address,
      username, birthdate, and grounds) your data whenever. You reserve the privilege to demand for
      <br/>
      <br/>
      <br/>
      changes to the data you can&#39;t change within the application after profile arrangement by reaching us
      straightforwardly. The college email address is required to confirm that you are a college understudy
      qualified for enlistment. 
      <br/>
      <br/>The remainder of the referenced data are utilized for the profile itself. The data
      we gather encourages us upgrade our application and check our clients.
      <br/>
      <br/>
      <br/>
      When you post open data about yourself, (for example, your profile, course, and pictures) just as in the
      informing administration and Anonchat, the sum and substance of individual data you offer is at your
      own hazard with the end goal that we hold no obligation regarding its outcomes and impacts.
      <br/>
      <br/> On the off
      chance that you offer or post any substance that damages our Terms and Conditions of Use, we
      maintain whatever authority is needed to end your record with or without notice.
      <br/>
      <br/>
      <br/>
      We claim no authority to reuse or redistribute the substance, (for example, with constraint, pictures and
      other non-literary media documents) you share on the administration in any capacity. 
      <br/>
      <br/>
      By consenting to
      this approach, we maintain whatever authority is needed to store the substance you plan to share as a
      component of the task of the Service, and will keep on being put away inside paying little mind to the
      substance&#39;s perceivability, the substance&#39;s erasure state, or your record&#39;s cancellation state.
      <br/>
      <br/> You
      reserve
      the privilege to demand for your substance to be for all time appropriately arranged inside upon record
      erasure. No substance is imparted to any outsider elements.
      <br/>
      <br/>
      <b>Log and Usage Data</b>
      <br/>
      <br/>
      Our servers naturally record data (&quot;Log and Usage Data&quot;) made by your utilization of the Service, which
      causes us to improve our administration.
      <br/>
      <br/>
      This information may incorporate data, for example, your IP
      address, program type, the alluding space, pages visited, get to times, application movement, gadget
      equipment data, and communications with notices.
      <br/>
      <br/>
      <b>Gadget Information</b>
      <br/>
      <br/>
      We gather data from and about the device(s) you use to get to our administrations, including:
      <br/>
      <br/>
      <br/>
      Equipment and programming data including yet not restricted to: IP addresses, gadget ID and type,
      programming rendition, application crashes, publicizing IDs, program type, adaptation and language,
      working framework.
      <br/>
      <br/>
      <br/>
      This causes us target message pop-ups to the privilege user(s) and track down issues quickly concerning
      the client&#39;s gadget condition.
      <br/>
      <br/>
      <b>In-application Purchases</b>
      <br/>
      <br/>
      Endless supply of accessible in-application items or memberships, the application stage, for example,
      Play Store and App Store, handles the charging procedure.
      <br/>
      <br/>
      Just the administration or application
      intercedes the inception and finish of this procedure. Thusly, we neither get nor get a particular financial
      data, for example, charge card numbers and application stage accounts. 
      <br/>
      <br/>
      Not withstanding, with reliance on the application stage, as a feature of its working methodology, buy data is logged and gathered by
      the application stage which incorporates request status, approximated area of procurement, date and
      time of o
    </p>
    <button ion-button (click) = "gobackPrivacyPolicy()" block>I understand and agree</button>
  </div>
  <div *ngIf = "TOS">
    <p style ='text-align: justify'>
        Welcome to the Terms and Conditions (these “Terms”) of UlikE (“Service” and “App”) operated by
        Gastambide boys (“We”). As used herein, the terms “You” and “User” shall mean any registrant to the
        Service. Please take a few moments to read these Terms before signing up for the Service. Thank you for
        your time!
        <br/>
        <br/>
        <br/>
        <b>1. Acceptance of Terms and Conditions</b>
        <br/>
        <br/>
        By creating an account or signing up for an UlikE account, you agree to be bound by these Terms and
        our Privacy Policy. If you do not accept to be bound by all of the Terms stated herein, you should not use
        the App and you should not create an account.
        <br/>
        <br/>
        These Terms are subject to change without prior notice. We reserve the right to modify, amend, or
        change these Terms at any time. However, in certain circumstances wherein we think the modifications
        are crucial, we may send each user an email to inform you about such changes.
        <br/>
        <br/>
        Nevertheless, it is the
        user’s responsibility to regularly check this page or these Terms. Your continued use of the App implies
        you agree to the latest revision of these Terms. If you do not accept any changes made to the Terms,
        you should stop using the App immediately.
        <br/>
        <br/>
        <br/>
        <b>2. Eligibility</b>
        <br/>
        <br/>
        By signing up for an account, you confirm that you are at least 18 years old. Moreover, you also
        represent that you are legally permitted to use the Service in accordance to applicable laws, rules, and
        regulations of the Philippines. You also confirm that you solely own or possess the University email
        address used in registration.
        <br/>
        <br/> The Service sets a limit on the amount of accounts you can register with an
        email address. Thus, you are only eligible for registration if you have not reached such a limit.
        Furthermore, you are confirming that you are not creating another account after the termination of
        your previous account, unless we grant you to be able to do so.
        <br/>
        <br/>
        <br/>
        <b>3. Restrictions on the App</b>
        <br/>
        <br/>
        You agree that you will not:
        <br/>
        <br/>
        act in an unlawful, discriminatory, or abusive manner to the Service and other Users of the Service;
        disclose information that you do not have sufficient permission to do so;
        use the Service to promote fraudulent activities, pyramid schemes, or any other similar practices;
        misrepresent your identity with that of another User (also known as an instance of posing or
        impersonation);
        <br/>
        <br/>
        misuse information of other Users;
        scrape or mine data from the App, whether manually or automatically;
        gain access to, tamper with, hack, or modify non-public, unauthorized areas of the Service or any of its
        constituent servers and systems.
        <br/>
        <br/>
        We reserve the right to terminate, suspend, or banish your account with or without prior notice in an
        event wherein we believe you have violated the Terms or the restrictions stated herein. If you suspect or
        believe that another User has violated any of the restrictions or rules, we strongly encourage you to
        report such behavior to our contact email or use the Report feature within the App.
        <br/>
        <br/>
        <br/>
        <b>4. Content Restrictions and Rights</b>
        <br/>
        <br/>
        Any information a User posts, uploads, displays, makes available or sends to other User(s) (“Content”)
        includes, without limitation, profile pictures, public profile information, and messages.
        <br/>
        <br/>
        Although the Service permits Users to be able to express themselves as much as possible through the
        content its Users upload and provide, there are restrictions on what kind of Content is NOT allowed on
        the Service, limited to Content which:
        <br/>
        <br/>
        Contains language or imagery which could be considered offensive;
        <br/>
        <br/>
        Depicts obscene, pornographic, or violent material;
        <br/>
        <br/>
        Could be considered abusive, threatening, insulting, defamatory, or discriminatory;
        <br/>
        <br/>
        Promotes or encourages sexism, racism, bigotry, or hatred;
        <br/>
        <br/>
        Promotes any illegal activity in accordance to the laws of the Philippines, including but not limited to
        terrorism, illegal drug use, human trafficking, or sexual harassment;
        <br/>
        <br/>
        Contains any malicious program or code (including, without limitation, viruses, Trojan horses, and
        spyware) intentionally made and designed to interfere with, damage, or interfere with the operation of
        the Service or the underlying software of any User’s device;
        <br/>
        <br/>
        Infringes copyrighted material or intellectual property rights;
        <br/>
        <br/>
        Involves the transmission of “junk mail,” “chain letters,” or unsolicited mass mailing, instant messaging,
        or “spamming”;
        <br/>
        <br/>
        Depicts another person without that person’s consent.
        You are held liable and responsible for any Content you upload or provide (“Your Content”) to the
        Service and will indemnify, release, defend, and hold us harmless from any claims made in connection
        with the Content you provide.
        <br/>
        <br/> Upon deciding to choose to reveal or provide any personal information
        about yourself to another User, whether on or off the Service, you confirm that it is at your own risk.
      <br/>
        Disclosure of any sensitive personal information such as home addresses, credit cards, and banking
        details is strongly discouraged.
        
        You agree that Your Content may be viewed by other Users of the Service
    </p>
    <button ion-button (click) = "gobackTOS()" block>I understand and agree</button>
  </div>
</ion-content>